* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swish {}

.swish-list {
  cursor: grab;
  margin: 0 0 20px;
}

.swish-list[is-grab] {
  cursor: grabbing
}

.swish-pagination {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
}

.swish__pagination-list {
  display: flex;
}

.swish-pagination__list-item {
  border: 8px solid #000;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transform: scale(0.6);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform;
  outline: none;
}

.swish-pagination__list-item.active {
  border: 8px solid coral;
  transform: scale(1);
  transition-duration: 0.3s;
  transition-property: transform
}

.swish__pagination-item.active {
  background: coral;
}

.swish__pagination-item:last-child {
  margin-right: 0
}

[data-swish-dir="prev"],
[data-swish-dir="next"] {
  color: #fff;
  margin: auto;
  cursor: pointer;
  font-family: sans-serif;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: #000;
  padding: 10px 20px;
  cursor: pointer;
}

[data-swish-dir="prev"]:hover,
[data-swish-dir="next"]:hover {
  color: coral;
  transition-duration: 0.25s;
}

[data-swish-dir="prev"] {
  left: 0;
}

[data-swish-dir="next"] {
  right: 0;
}

@media(max-width: 600px) {

  [data-swish-dir="prev"],
  [data-swish-dir="next"] {
    display: none;
  }

  .swish-list__item {
    /* padding: 0 5px; */
  }

  .swish-list__item:last-child {
    /* padding-right: 0 */
  }

  .swish-list__item:first-child {
    /* padding-left: 0 */
  }
}

body {
  padding: 50px 0 0;
}

main {
  padding: 100px 0;
}

main section:nth-child(even) {
  background-color: rgb(223, 223, 223);
  padding: 100px 0;
  margin: 100px 0;
}
